@import "./base.css";
.ui-status {
  color: #fff;
  font-size: 230px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  transform: rotate(15deg);
}
.ui-msg {
  font-size: 25px;
  color: #fff;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}