.ui-tape {
  position: absolute;
  top: 10px; left: 75px;
}
.ui-status-box {
  display: inline-block;
  *display: inline; *zoom: 1;
  width: 560px; height: 260px;
}
.ui-status {
  color: #fff; padding: 0;
  text-align: center;
  font-size: 260px;
  line-height: 260px;
  width: 100%; height: 100%;
  -o-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
  /* IE8+ - must be on one line, unfortunately */
  -ms-filter: progid:DXImageTransform.Microsoft.Matrix(
    M11=0.9659258262890683,
    M12=-0.2588190451025207,
    M21=0.2588190451025207,
    M22=0.9659258262890683,
    SizingMethod="auto expand"
  );

  /* IE6 and 7 */
  filter: progid:DXImageTransform.Microsoft.Matrix(
    M11=0.9659258262890683,
    M12=-0.2588190451025207,
    M21=0.2588190451025207,
    M22=0.9659258262890683,
    SizingMethod="auto expand"
  );
  /**
   * To make the transform-origin be the middle of
   * the object.    Note: These numbers
   * are approximations.  For more accurate results,
   * use Internet Explorer with this tool.
   */
  margin: -71px 0 0 -27px;
}
:root .ui-status {
  margin: 0;
  filter: none \9;
}
.ui-message {
  padding: 26px 0 61px;
  margin: 0;
  font-size: 25px;
  color: #fff;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}