html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body, div, p {
  margin: 0;
  padding: 0;
}
body {
  background: url(../images/sky.jpg) repeat-x 0 0 #67ace4;
  font: 14px/1.5 Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
@font-face {
  font-family: nengine;
  src: url(../fonts/nengine.eot?nuintun);
  src: url(../fonts/nengine.eot?#iefixnuintun) format("embedded-opentype"),
  url(../fonts/nengine.svg?nuintun#nengine) format("svg"),
  url(../fonts/nengine.woff?nuintun) format("woff"),
  url(../fonts/nengine.ttf?nuintun) format("truetype");
  font-weight: normal;
  font-style: normal;
}
.ui-icon-font {
  font-family: nengine, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;

  /* Enable Ligatures ================ */
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ui-content {
  position: absolute;
  top: 50%; left: 50%;
  text-align: center;
  width: 560px;
  height: 420px;
  font-size: 0;
  margin: -210px 0 0 -280px;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}
.ui-content img {
  border: medium none;
}
.ui-home {
  display: inline-block;
  width: 174px; height: 42px;
  background: url(../images/home.png) no-repeat center transparent;
}
.ui-home:hover {
  background: url(../images/home-hover.png) no-repeat center transparent;
}
@keyframes cloud-move {
  from { background-position: 0 0; }
  to { background-position: -1680px 0; }
}
@-o-keyframes cloud-move {
  from { background-position: 0 0; }
  to { background-position: -1680px 0; }
}
@-ms-keyframes cloud-move {
  from { background-position: 0 0; }
  to { background-position: -1680px 0; }
}
@-moz-keyframes cloud-move {
  from { background-position: 0 0; }
  to { background-position: -1680px 0; }
}
@-webkit-keyframes cloud-move {
  from { background-position: 0 0; }
  to { background-position: -1680px 0; }
}
.ui-cloud {
  position: fixed;
  left: 0; bottom: 0; z-index: -1;
  width: 100%; height: 170px;
  background: url(../images/cloud.png) repeat-x scroll 0 0 transparent;
  -o-animation: cloud-move 30s linear infinite;
  -ms-animation: cloud-move 30s linear infinite;
  -moz-animation: cloud-move 30s linear infinite;
  -webkit-animation: cloud-move 30s linear infinite;
  animation: cloud-move 30s linear infinite;
}
