<!DOCTYPE html>
<html>
    <head>
        <title>你大爷的！-页面未找到</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="renderer" content="webkit"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <link rel="stylesheet" type="text/css" href="/<%= NengineAssetsRoot %>/css/404.css"/>
    </head>
    <body>
        <div class="ui-container">
            <img src="/<%= NengineAssetsRoot %>/images/404.png"/>
            <img class="ui-msg" src="/<%= NengineAssetsRoot %>/images/404_msg.png"/>

            <p class="ui-back-panel">
                <a class="ui-back" href="/"><img src="/<%= NengineAssetsRoot %>/images/404_to_index.png"/></a>
            </p>
        </div>
        <div class="ui-cloud"></div>
    </body>
</html>