@import "./base.css";
.ui-container .ui-status {
    color: #fff;
    font-size: 230px;
    font-weight: bold;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
.ui-container .ui-msg {
    font-size: 25px;
    color: #fff;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}