<!DOCTYPE html>
<html>
  <head>
    <title>∩_∩ Directory</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link rel="stylesheet" type="text/css" href="<%= ROOT %>/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="<%= ROOT %>/css/folder.css"/>
  </head>
  <body>
    <div class="ui-content">
      <div class="ui-files">
        <p title="<%= dirname %>" class="ui-dirname"><%= dirname %></p>

        <div class="ui-pillar"></div>
        <div class="ui-files-list">
          <% files.forEach(function(file, i){ %>
          <p>
            <span title="<%= i %>" class="ui-line-num"><%= i %>: </span>
            <a title="<%= file.name %>" href="<%= dirname %><%= file.name %>"><%= file.name %></a>
            <span class="ui-file-type">[<%= file.type %>]</span>
            <span class="ui-file-mtime">[<%= file.mtime %>]</span>
          </p>
          <% }); %>
        </div>
      </div>
      <p><a title="Home" class="ui-home" href="/">Home</a></p>
    </div>
    <div class="ui-cloud"></div>
  </body>
</html>