<!DOCTYPE html>
<html>
  <head>
    <title>T_T 出错了</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link rel="stylesheet" type="text/css" href="<%= NengineAssetsRoot %>/css/default.css"/>
  </head>
  <body>
    <div class="ui-container">
      <p class="ui-status"><%= status %></p>

      <p title=":( <%= message %>" class="ui-msg">:( <%= message %></p>

      <p class="ui-back-panel">
        <a class="ui-back" href="/"><img src="<%= NengineAssetsRoot %>/images/404_to_index.png"/></a>
      </p>
    </div>
    <div class="ui-cloud"></div>
  </body>
</html>